@{
    ViewBag.Title = "Gerenciador de Clientes";
}

<div class="container">
    <div class="row">
        <h1>Clientes</h1>
        <a href="@Url.Action("Cadastrar","Cliente")" class="btn btn-warning pull-right"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
        <div class="clearfix"></div>
        
        <div class="col-md-6">
            <h3>Pessoa Jurídica</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Nome Fantasia</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>

        
        <div class="col-md-6">
            <h3>Pessoa Física</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Nascimento</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>john@example.com</td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>